* { margin: 0; padding: 0; box-sizing: border-box}

:root {
    --font-main: "Raleway";
    --black-main: #272727;
    --black-light: #27272740;
    --yellow-main: #FFE45F;
    --blue-main: #85C7F2;
    --blue-light: #85C7F280;
    --yellow-light: #FFE45F80;
    --warning: #FC6B6B;
    --shadow-button-black: 0px 10px 50px 5px var(--black-light);
    --shadow-button-blue: 0px 10px 50px 5px var(--blue-light);
    --shadow-button-yellow: 0px 10px 50px 5px var(--yellow-light);
    --border-radius: 1rem;
}

*{
    font-family: var(--font-main);
    transition: 200ms all;
}


h1{
    font-size: 2rem;   
}

p {
    font-family: var(--font-main);
    font-size: 1rem;
    word-break: break-all;
    white-space: normal;
}

.warning-text{
    color: var(--warning);
}

.text-align-right{
    text-align: end;
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;

    /* shadow/button/black */
    border-radius: var(--border-radius);
}

button:hover{
    background: #85C7F2;
    box-shadow: var(--shadow-button-blue);
}

button:active{
    opacity: 0.5;
}

.btn-terciary {
    background: none;
    border: none;
    width: 100%;
}

.btn-primary {
    background: var(--yellow-main);
    border: none;
    box-shadow: var(--shadow-button-yellow);
}

body{
    display: flex;
    flex-direction: row;
    width: 100vw;
    overflow-y: hidden;
}

input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: rgba(133, 199, 242, 0.5);
    border-radius: var(--border-radius);
    border: none;
}
input:focus{
    box-shadow: var(--shadow-button-black);
    outline: none;
}
input[type=text]{
    width: 100%;
}
input[type=submit]{
    background: var(--yellow-main);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;

    /* shadow/button/black */
    border-radius: var(--border-radius);
}

input[type=submit]:hover{
    background: #85C7F2;
    box-shadow: var(--shadow-button-blue);
}

textarea{
    font-family: var(--font-main);
    font-size: 1rem;
    word-break: break-all;
    white-space: normal;
    padding: 1rem;
    background: rgba(133, 199, 242, 0.5);
    border-radius: var(--border-radius);
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
}

textarea:focus{
    box-shadow: var(--shadow-button-black);
    outline: none;
}

.piar-button {
    position: absolute;
    border-radius: 100%;
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 4rem;
    bottom: 4rem;
}

.piar-button-img{
    width: 2.5rem;
}

.piar-button-hidden{
    display: none;
}

@media screen and (max-width: 500px) {
    body{
        flex-direction: column;
    }
}