.search-field {
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 100%;
}

.search-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.search-results{
    background: white;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-button-black);
    padding: 8px;
}

.search-results-inactive{
    padding: 0px;
}

.feed{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 64px 32px 64px 32px;
    gap: 32px;
    align-items: center;
    overflow-y: scroll;
    height: 100vh;
}